# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Package managers
node_modules
*.iml

# Flutter/Dart/Pub related
pubspec.lock
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Dev
.env
.turbo

# Tools
.eslintcache

# Production
dist
.next
