{
  "*.{js,ts,tsx}": [
    "eslint --fix --cache"
  ],
  "*.{json,yml,yaml}": [
    "pnpm prettier --write"
  ],
  "*.prisma": [
    "pnpm --filter @itourism/api prisma format --schema="
  ],
  "*.dart": [
    "flutter format"
  ]
}
